<div class="register-page">
  <div class="form">
    <div class="register">
      <div class="register-header">
        <h3>REGISTER</h3>
        <p>Please enter your information to create an account</p>
      </div>
    </div>
    <form class="register-form" (ngSubmit)="register(username, email, password)">
      <input type="text" placeholder="username" name="username" [(ngModel)]="username"/>
      <input type="email" placeholder="email" name="email" [(ngModel)]="email"/>
      <input type="password" placeholder="password" name="password" [(ngModel)]="password"/>
      <button type="submit">Register</button>
      <p class="message">Have an account? <a routerLink="/login">Login</a></p>
    </form>
  </div>
</div>
