<div class="login-page">
  <div class="form">
    <div class="login">
      <div class="login-header">
        <h3>LOGIN</h3>
        <p>Please enter your credentials to login.</p>
      </div>
    </div>
    <!-- <form class="login-form" (ngSubmit)="login(credentials)">
      <input type="email" placeholder="email" name="email" [(ngModel)]="credentials.email"/>
      <input type="password" placeholder="password" name="password" [(ngModel)]="credentials.password"/>
      <button type="submit">login</button>
      <p class="message">Not registered? <a routerLink="/register">Create an account</a></p>
    </form> -->
    <div class="login-form">
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div *ngIf="invalidLogin" class="alert alert-danger">Invalid email or password.</div>
          <br/>
          <input type="email" id="email" name="email" [(ngModel)]="credentials.email"
            class="form-control" placeholder="Email" required>
          <br/>
          <input type="password" id="password" name="password" [(ngModel)]="credentials.password"
            class="form-control" placeholder="Password" required>
          <br/>
          <button class="btn btn-lg btn-primary" type="submit" [disabled]="!loginForm.valid">Log in</button>
          <p class="message">Not registered? <a routerLink="/register">Create an account</a></p>
      </form>
    </div>
  </div>
</div>

